# Ignore everything in the tests directory, specifically node_modules
tests/node_modules/
tests/package-lock.json
tests/package.json

# Standard ignores
node_modules/
.venv/
.git/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
uploads/
db-data/
*.log
.vscode/
.idea/
.env
.env.*